@import "~bootstrap/scss/bootstrap.scss";

.border-around
{
  border: 1px solid black;
}

.background-wrapper
{
  background-color: darkgray;
  height: 100vh;
}

.content-container
{
  width: 100%;
  height: 100vh;
  background-color: white;
  max-width: map_get($grid-breakpoints, xl);
}

.days-container
{
  max-width: 990px;
}

.day-container
{
  width: 160px;
  height: 240px;
}

.zip-input
{
  max-width: 200px;
}


